<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" routerLink="/">
    <img src="../../../assets/loogo.svg">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item" routerLinkActive="activo" [routerLinkActiveOptions]="{exact: true}">
        <a class="nav-link" routerLink="/"> Home </a>  
      </li>
      <li class="nav-item" routerLinkActive="activo">
        <a class="nav-link" routerLink="/clientes"> Clientes </a>
      </li>
      <li class="nav-item" routerLinkActive="activo">
        <a class="nav-link" routerLink="/tutorial"> Tutorial </a>
      </li>
    </ul>
  </div>
</nav>
<router-outlet></router-outlet>
<footer>
  <div class="container">
    <h5><a href="https://alexpedrasa10.github.io/#/">Powered by <img src="../../../assets/loogo.svg" alt=""></a></h5>
  </div>
</footer>