<div>
    <section class="violet">
            <h2>¡Este es mi primer proyecto con Angular 10 y SASS!</h2>
    </section>
    <section class="yellow">
        <div class="container">
            <h5>Este proyecto contiene un formulario que permite ingresar nombre, direccion
                y edad del cliente. Al enviar el formulario, aparece un listado con todos los
                clientes que agregemos de forma rápida y dinámica.
            </h5>
            <div class="botones">
                <a routerLink="/clientes" class="proyecto">Ver proyecto</a>
                <a routerLink="/tutorial" class="tutorial">Ver paso a paso</a>
            </div>
        </div>
    </section>
</div> 
