<div class="c">
<section>
    <div class="container">
        <div class="clientes">
            <h1>Clientes</h1>
            <form [formGroup]="form" (ngSubmit)="enviar(form.value)">
                <div class="form-group">
                <label>Nombre</label>
                <input type="text" class="form-control" 
                placeholder="Ingrese nombre" [(ngModel)]="cliente.nombre"
                formControlName="nombre">
                </div>
                <div class="form-group">
                <label>Dirección</label>
                <input type="text" class="form-control" 
                placeholder="Ingrese dirección" [(ngModel)]="cliente.direccion" 
                formControlName="direccion">
                </div>
                <div class="form-group">
                    <label>Edad</label>
                    <input type="number" class="form-control" 
                    placeholder="Ingrese edad" [(ngModel)]="cliente.edad" 
                    formControlName="edad">
                </div>
                <button type="submit" [disabled]="form.invalid" class="btn-form" (click)="this.nuevoCliente()">Agregar cliente</button>
            </form>
        </div>
        <ng-container *ngIf="clientes.length > 0">
            <div class="lista-clientes">
                <h2>Listado de clientes</h2>
                <ul class="list-group">
                    <li class="list-group-item d-flex justify-content-between align-items-center"
                    *ngFor="let cliente of clientes">
                    {{cliente.nombre | uppercase}} - {{cliente.direccion | uppercase}} - {{cliente.edad}} 
                    <button class="btn btn-danger" (click)="this.borrarCliente(cliente.id)" [data]>Borrar</button>
                    </li>
                </ul>
            </div>
        </ng-container>  
    </div>
</section>
</div>
